/* Main body is a grid to allow for easy centering */
body {
    padding: 15px;
    background-color: orange;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr, 800px, 1fr;
}

#Main {
    grid-column: 1/2;
    text-align: center;
}

#Title {
    padding: 0;
    font-size: 36px;
    font-family: cursive;

}

#user-to-do {
    text-align: center;
    background-color: #696969;
    outline-width: 0;
    color: #dcdcdc
}

::placeholder {
    color: #dcdcdc;
}

#toDoHeader {
    font-size: 24px;   

}

#toDoList {
    list-style: none;
    padding: 0;
    width: 70%;
    margin: auto auto 30px auto;
    text-align: center;
}

#toDoForm {
    text-align: center;
}

/* List items displayed as an inline block to make for nice gridded list  */
li {
    color: #333333;
    background-color: rgba(255,255,255,.5);
    width: 250px;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    display: inline-block;
}